$primary: "teal";
$accent: "light-green";
$warn: "pink";

@import 'ember-paper';


.quote-align {
  margin-top: 20%;
  text-align: center;
}

.newHabitForm {
  height: 600px;
  width: 500px;
}


md-menu-content {
  padding: 0;
}

.card-cont {
  margin-top: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: solid 1px black;
  border-radius: 5px;
  min-height: 50vh;
  max-height: 50vh;
  overflow: auto;
}

.no-habits-message {
  color: rgb(175, 175, 175);
  position: absolute;
  top: 39%;
  left: 42.5%;
  font-size: 24px;
}

.add-one-message {
  color: rgb(175, 175, 175);
  position: absolute;
  top: 60%;
  left: 47.5%;
  font-size: 24px;
}
.add-one-arrow {
  color: rgb(175, 175, 175);
  position: absolute;
  top: 62%;
  left: 49.4%;
  font-size: 24px;
}
 .progress {
   margin-right: 50px;
   top: 22%;
 }

 .card-item{
  //  border: solid 0.5px rgb(225, 225, 225);
   width: 30vw;
   height: 16vh;
   max-height: 180px;
   min-width: 260px;
   min-height: 100px;
 }
 .card-add-item{
  background-color: rgb(240, 240, 240);
  display: flex;
}
.card-add-text {
  position: relative;
  left: 50%;
  margin-left: -30px;
  font-size: 90px;
  color: rgb(200, 200, 200);
  align-self: flex-end;
}


 .details-div {
   line-height: 1.5em;
 }

 .md-button {
   margin: 0;
 }

 .parent {
   position: relative;
   overflow: hidden;
   
 }
.progress-div {
  position: absolute;
  text-align: center;
  height: 100%;
  top: -5%;
  right: 25%;

 }
 .progress-percent {
    position: absolute;
    top: 45%;
    left: 25%;
 }

 .three-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border-left: 1px dashed rgb(184, 184, 184);

    
 }

 .toolbar-div {
   position: sticky;
   top: 0px;
   z-index: 100;
 }

 .text-area {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
 
 }

 .text-area-div {
  word-wrap: break-word;
  overflow: hidden;
  width:225px;
 }

 .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
 }

 .habits-chart {
  position: relative;
  text-align: center;
  font-size: 40px;
  // border: solid 1px rgb(240, 240, 240);
  padding-bottom: 20px;
  background-color: #f3f3f3;
 }

 .habits-chart-title {
  margin-bottom: 40px;
 }
 .habits-achiev-title {
  margin-bottom: 40px;
  display: block;
 }

 .achiev-card {
  width: 15vw;
  height: 12vh;
  opacity: 0.33;
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  padding-left: 10px;
  padding-top: 10px;
 }
 .achiev-card-true {
  width: 15vw;
  height: 10vh;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgb(255, 251, 0);
  border-radius: 10px;
 }

 .achiev-card {
  width: 15vw;
  height: 10vh;
  opacity: 0.33;
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 9px 2px rgba(0,0,0,0.75);
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
 }

 .achiev-card-corners {
  border-radius: 10px;

 }

 .achiev-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }

 .achiev-title {
  font-size: 20px;
  margin-bottom: 20px;
 }

 .achiev-row {
   width: 100vw;
   margin-left: 150px;
   margin-top: 10px;
 }

body{
  background-color: #f3f3f3;
}

.details-text {
  font-weight: bold;
}

md-card-title-text{
  position: absolute;
  height: 100%;
  top: 10%;
  left: 5%;
}

.menu-button {
  display: none;
}

.bbb {
  display: none;
  position: absolute;
  top: 15%;
  left: -10%;
}

.titlulmalefic {
  font-weight: bolder;
  font-size: 30px;
}


@media (max-width: 1200px), (max-height: 1000px) {
   .card-item{
     height: 12vh;
   }
   .hide-button {
    display: none;
  }
  .bbb {
    display: block;
    position: absolute;
    top: 25%;
    left: -100px;
  }

  .aaa {
    display: none;
  }

  .progress-percent {
    left: -83px;
    top: 36%;
  }
  .menu-button {
    display: block;
  }

  .titlulmalefic {
    font-weight: bold;
    font-size: 20px;
    width: auto;
    
  }
  md-card-title-text {
    position: absolute;
    height: 100%;
    top: 5%;
    left: 5%;
  }
  md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0;
  }

  .tooltip {
    display: none;
  }
}

@media (max-width: 600px) {
  .progress-percent {
    left: -83px;
    top: 36%;
  }
}
