<div class="toolbar-div">
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
      <img src="assets/images/logo8.png">
      <span class="flex"></span>
    {{#link-to "dashboard"}}
      {{#paper-button}}
        <p>Dashboard</p>
      {{/paper-button}}
    {{/link-to}}
    {{#link-to "habit-tracker"}}
      {{#paper-button}}
        <p>Home</p>
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
</div>
{{outlet}}