
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
     <h2>Welcome to habIT</h2>
     <span class="flex"></span>
    {{#paper-button raised=false}}
      Habit Tracker
    {{/paper-button}}
    {{#paper-button raised=false}}
      Reminder
    {{/paper-button}}
    {{#paper-button raised=false}}
      Notes
    {{/paper-button}}
    
  {{/toolbar.tools}}
 {{/paper-toolbar}}
{{outlet}}