<div class="toolbar-div">
{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to "habit-tracker"}}
      <img src="assets/images/logo8.png">
    {{/link-to}}
      <span class="flex"></span>
      {{#current-route-button route="dashboard"}}
        <p>Dashboard</p>
      {{/current-route-button}}
    {{#link-to "habit-tracker"}}
      {{#current-route-button route="habit-tracker"}}
        <p>Home</p>
      {{/current-route-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}
</div>
{{outlet}}