{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to "index"}}
      <h2>Welcome to habIT</h2>
    {{/link-to}}
    <span class="flex"></span>
    {{#link-to "about"}}
      {{#paper-button}}
        <p>About</p>
      {{/paper-button}}
    {{/link-to}}
    {{#link-to "contact"}}
      {{#paper-button}}
        <p>Contact</p>
      {{/paper-button}}
    {{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}