{{!-- <div class="flex">
  {{#paper-content class="md-padding"}}
    <h1>Users</h1>
    {{#paper-item class="layout layout-md-line"}}
      <div class="flex-95"> 
        <strong>User name</strong> 
      </div>
     
      <div class="flex">
        <strong>Edit</strong>
      </div>
      <strong>Delete</strong>  
    {{/paper-item}}
    {{paper-divider}}
    {{#each users as |user|}} 
      {{#paper-item class="layout layout-md-line"}}         
        <div class="flex-50">   
          {{user.fullName}}
        </div>
        {{paper-divider}}
      {{/paper-item}} 
    {{/each}}  
  {{/paper-content}}
</div> --}}
